@use "base/variables" as v;
@use "base/mixins" as m;

.busqueda {
   border: 1px solid v.$grisOscuro;
   background-color: v.$blanco; 
   margin: 1rem auto;

    &__recuadro {
        display: flex;
    }

    &__enlace {
        margin: 1rem;
    }
    &__imagen--lupa {
        margin-top: 0.2rem;
    }

    &__input {
        width: 94%;
        border: none;
    }

}
