// Fuentes
$fuente_principal: 'Hind', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$grisClaro: #E3E9EE;
$grisOscuro: #95A5A6;
$negro: #35495E;
$blanco: #FFFFFF;

$separacion: 2rem;