@use "base/variables" as v;
@use "base/mixins" as m;

.listado {
    margin: 1rem auto ;
    

    &__grid {
        background-color: v.$blanco;
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-bottom: 3px;
        padding: 1rem;
    }
    &__imagen {
        margin: 0 auto 3rem;
        max-width: 20rem;
    }
}