@use "base/variables" as v;
@use "base/mixins" as m;

.producto {
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;

    &__nombre{
        font-weight: 700;
        color: v.$negro;
    }
    &__descripcion,
    &__color,
    &__marca {
        color: v.$grisOscuro;
        
    }
}