@use "base/variables" as v;
@use "base/mixins" as m;

.header {
    background-image: url(../../../build/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 1rem;
    height: 6.5rem;
   
   
    &__logo {
        display: flex;
        height: 4rem;
        &::after {
            content: '';
            background-color: v.$blanco;
            width: 1rem;
            height: 6.5rem;
            display: inline-block;
            margin-top: -1rem; 
        }
    }
    &__imagen {
        padding-right: 1rem;
        size: 4rem;
    }
   
    
}