@use "base/variables" as v;
@use "base/mixins" as m;

.navegacion {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   margin-left: 1rem;
   
   
    &__enlaces {
        display: flex;
        gap: 1rem;
        height: 4rem;  
    }
   
    &__imagen--noti {
        margin-top: -0.4rem;
       
    }
}